
.service {
	padding: 0.5rem 0;
	background-image:url("https://db1736767dbd5e7094bb-d61bbc5d0b342a54145a236e2d5d1ebf.ssl.cf4.rackcdn.com/Product-800x800/424b2f45-2b66-4e2e-8082-e8124b51550d.jpg")
}
.service-inner {
	display: flex;
}
@media (max-width: 768px) {
	.service-inner {
		display: block !important;
	}
}
.service-item {
	text-align: center;
	padding: 1.5rem 1.5rem;
	margin: 0 0.5rem;
}
.service-heading {
	font-size: 1.5rem;
	font-weight: 600;
}
.service-button {
	margin-left: 0.5rem;
	background:#000080;
	border: 1px solid black;
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all ease 200ms;
}
.service-button:hover {
	background:#ffd700;
}
